.UseStateDemo{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-self: center;

  border: solid 1px rgba(0, 0, 0, 0.6);
  border-radius: 15px;
  width: 85%;

  margin-top: 50px;

  padding: 25px 35px;
}

.UseStateDemo a {
  all: unset;
  cursor: pointer;
}

.UseStateDemo h4{
  font-size: 30px;
  font-weight: 400;
  margin-left: 80px;
  margin-bottom: 25px;
}

.hook-resume {
  align-self: center;
  margin-bottom: 30px;

}

.hook-syntax {
  display: flex;
  flex-direction: column;

  background-color: rgb(40, 44, 52);
  color: #ffffff;
  padding: 15px 30px;
  border-radius: 14px;
  gap: 15px;
  margin-bottom: 35px;

}

.hook-tips {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 25px;
}

.hook-tips ul {
  margin-left: 45px;
}

.qstn {
  margin-left: 14px;
  font-size: 24px;
  margin-bottom: 35px;
}

.coding-hooks {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 14px;
  margin-bottom: 15px;
}

.coding-hooks input {
  all: unset;
  border-bottom: solid 1px rgba(0, 0, 0, 0.6);
  padding: 14px 10px;
}

.code-view {
  background-color: rgb(40, 44, 52);
  color: #ffffff;
  padding: 25px 35px;
  border-radius: 14px;
}

.setStateNameDiv, .setInitialValueDiv, .setChangeDiv {
  display: flex;
  flex-direction: column;
}

.testing-code {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background: rgb(40, 44, 52);
  color: #ffffff;
  border-radius: 15px;
  padding: 25px 15px;
  margin-bottom: 25px;
  margin-top: 25px;
}

.hook-footer {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.hook-link {
  cursor: pointer;
}

.hook-link:hover {
  text-decoration: underline;
  color: gray;
}