.Header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-width: 100%;

  background: rgba(32, 35, 42, 1);
  color:#ffffff;

  padding: 15px 50px;
}

.header-logo {
  color: rgba(97, 218, 251, 1);
}

.header-logo img {
  width: 28px;
}

.header-logo:hover {
  text-transform: var();
}

.navbar-header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  width: 20%;
}

.navbar-header a {
  all: unset;
  cursor: pointer;
}

.navbar-header a:hover{
  color: rgba(255, 255, 255, 0.5);
}